.flash-red {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    animation: flash-red 0.5s ease;
  }
}

@keyframes flash-red {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  50% {
    background: rgba(255, 0, 0, 0.5);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
